.logo-image img{
    width: 198.07px;
    height: 59px;
    margin-top:30px;
    
}

.logo-menu-image{
    margin-left: 5%;

}

.menu-bar{
    margin-top:30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
}

header{
    background-color: #F0FFF0;
}

.sing-in-button{
    background-color: #21B573;
    border-radius: 33px;
    width: 100px;
    height: 38px;
    text-align: center;
}
.top-banner-img img{
    width: 100%;
   
}
.top-banner{
    background-color: #F0FFF0;
    
}


.top-banner-image{
    margin-right: 10%;
}
.top-banner-image img{
    width: 100%;
    
}

.ready{
    color: red;
}

.schedule{
    color: green;
    font-size: 30px;
    font-weight: 700px;
}

.get-started{
    background-color: #21B573;
    border-radius: 33px;
    padding: 10px 30px;
    color: white;
    
    text-align: center;  
    

}

.text{
    margin-left: 5%;
}

.card-image img{
    width: 100%;
width: 66px;
height: 85px;
padding: 10px;
margin-top: 50%;
}

.card-body{
    text-align: center;
}



.usp-bg{
    background-color:red;

}

.online-course-text{
    text-align: center;
}
.card-body{
    text-align: left;
}

.card-img-top{
    padding: 10px 20px;
}

.boxs{
    box-shadow: 1px 5px 100px;
    border-radius: 33px;
    
}

.asp{
    background-color: red;
}

.cal{
    width: 24px;
    height: 24px;
}

.people{
    
        width: 24px;
        height: 24px;
        

}

.seats{
    margin-top: 5px;
    
}

.card{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}
.text-test{
    text-align: center;
}
.man{
    width: 120px;
    height: 120px;
}

.as{
    padding: 40px;
}

.last{
    background-color:#282531;;
    color: white;
}

.footer-test{
    
}

.text-footer{
    text-align: center;
    font-size: 13px;
    margin-top: 3%;
    margin-left: 3%;
}

.first-footer{
    margin-top: 10%;

}

.copyright{
    text-align: center;
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 30px;

}
.option-footer{
    margin-top: 20px;
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 1px;
line-height: 30px;

}


